<!-- Link Gitalk 的支持文件  -->
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script> 
<script type="text/javascript" src="/assets/js/md5.min.js"></script>
<div id="gitalk-container"></div>     
<script type="text/javascript">
    var gitalk = new Gitalk({
 
    // gitalk的主要参数
        clientID: 'b16424ae523547f2bb6d',
        clientSecret: '2bde84bcaba89c826712f340e6cc3d9e2bf1fc3d',
        repo: 'https://anarkh-lee.github.io/',
        owner: 'anarkh-lee',
        admin: ['anarkh-lee'],
        id: md5(location.pathname),
        
    });
    gitalk.render('gitalk-container');
</script> 
<!-- Gitalk end -->
